<p id="notice"><%= notice %></p>

<p>
  <strong>Input type name:</strong>
  <%= @input_type.input_type_name %>
</p>

<%= link_to 'Edit', edit_input_type_path(@input_type) %> |
<%= link_to 'Back', input_types_path %>
