<p id="notice"><%= notice %></p>

<p>
  <strong>Option group name:</strong>
  <%= @option_group.option_group_name %>
</p>

<%= link_to 'Edit', edit_option_group_path(@option_group) %> |
<%= link_to 'Back', option_groups_path %>
