<footer class="footer">
	  <small>
			<a href="#">Future Link to something</a>
	    by PopQ team
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "Help", 'help' %></li>
	      <li><%= link_to "Contact", '#' %></li>
	      <li><!--a href=home>Home</a--></li>
	    </ul>
	  </nav>
	</footer>
